<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <%= simple_form_for @recipe do |f| %>
        <%= f.input :title, label: false, placeholder: 'Recipe Title' %>
        <%= f.input :instructions, label: false, placeholder: 'Recipe instructions' %>
        <%# f.association :ingredient,label: false %>
        <%= f.input :photos, as: :attachinary %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
